.stock-list-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    max-width: 1200px;
    color: #020316;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stock-list-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
}

.stock-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}


.stock-table th,
.stock-table td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
    font-size: 16px;
}

.stock-table th {
    background-color: #020316;
    color: #fff;
    font-size: 18px;
}

.stock-table tr:nth-child(even) {
    background-color: #f7f7f7;
}

.stock-table tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.no-data {
    text-align: center;
    font-size: 18px;
    color: #888;
    padding: 20px;
    font-style: italic;
}

.error-message {
    color: #ff4d4d;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}

.spinner-container {
    text-align: center;
    padding: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
}